# .github/workflows/google-ping.yml
name: Ping Google Sitemap
on:
  schedule:
    - cron: "0 4 * * 1"
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google
        run: curl "http://www.google.com/ping?sitemap=https://xpfyg.github.io/sitemap.xml"
